In [18]:
import sqlite3
import pandas as pd

df = pd.read_excel(r"C:\Users\keert\Downloads\internship_data.xlsx")
df.head()

   ID   Name            Track  Stipend
0   1   Amit     Data Science    15000
1   2   Neha  Web Development    12000
2   3   Ravi          AI & ML    18000
3   4  Priya   Cyber Security    14000
4   5  Kiran   Data Analytics    13000

In [9]:
cursor = conn.cursor()

In [10]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS interns (
    id INTEGER PRIMARY KEY,
    name TEXT,
    track TEXT,
    stipend INTEGER
)
""")

In [12]:
cursor.execute("INSERT INTO interns VALUES (1, 'Amit', 'Data Science', 15000)")
cursor.execute("INSERT INTO interns VALUES (2, 'Neha', 'Web Development', 12000)")
cursor.execute("INSERT INTO interns VALUES (3, 'Ravi', 'AI & ML', 18000)")
cursor.execute("INSERT INTO interns VALUES (4, 'Priya', 'Cyber Security', 14000)")
cursor.execute("INSERT INTO interns VALUES (5, 'Kiran', 'Data Analytics', 13000)")

In [13]:
conn.commit()

In [14]:
cursor.execute("SELECT name, track FROM interns")

In [15]:
rows = cursor.fetchall()

In [16]:
print("Intern Name and Track:\n")

for row in rows:
    print("Name:", row[0], "| Track:", row[1])

Intern Name and Track:

Name: Amit | Track: Data Science
Name: Neha | Track: Web Development
Name: Ravi | Track: AI & ML
Name: Priya | Track: Cyber Security
Name: Kiran | Track: Data Analytics

In [17]:
conn.close()